<!doctype html><html><body>
<%- include('_header') %><%- include('_flash') %>
<div class="wrap">
  <h1><%= typeof title !== 'undefined' ? title : 'Notice' %></h1>
  <p><%= typeof message !== 'undefined' ? message : '' %></p>

  <% 
    const _actions = (typeof actions !== 'undefined' && Array.isArray(actions)) ? actions : [];
    if (_actions.length) { 
  %>
    <div class="cta-row">
      <% _actions.forEach(function(action){ %>
        <a class="btn primary" href="<%= action.href %>"><%= action.label %></a>
      <% }) %>
    </div>
  <% } %>

  <p><a href="/">Home</a></p>
</div>
<%- include('_footer') %>
</body></html>
